/* General Styles */

.flex {
    display: flex;
    flex-direction: row;
}

button {
    border-radius: 20%;
    height: 2em;
    border: none;
}

.blueBttn {
    background-color: blue;
    color: white;
}

.grayBttn {
    background-color: rgb(100, 100, 100);
    color: white;
}

.redBttn {
    color: white;
    background-color: red;
}

.greenBttn {
    background-color: green;
    color: white;
}

.tealBttn {
    background-color: rgb(0, 149, 149);
    color: white;
}

.invertedBlueBttn {
    border: 1px solid blue;
    background-color: white;
    color: blue;
}

/* Home Page Styles */

.postAuthor {
    font-size: 0.9em;
    font-style: italic;
}

/* Users List Styles */

/* Add User Form Styles */

form[class='flex'] {
    flex-direction: column
}

#submitNewUserBttn {
    width: fit-content;
}

/* User Details Styles */

#mainDiv {
    width: fit-content;
}

#userImg {
    margin-right: 20px;
}

#nameAndBttns {
    flex-direction: column;
    margin-left: 25px;
}

#editDeleteBttns {
    flex-direction: row;
}

#editDeleteBttns button {
    margin: 0 2%;
}

#userImg {
    width: 125px;
    height: 125px;
}

#postsDiv h2 {
    margin-bottom: 0;
}

/* Edit User Styles */
#editDeleteForm {
    width:fit-content;
}

#saveCancelEdits {
    justify-content: right;
}

#postsDiv {
    flex-direction: column;
}

#addPost {
    width: fit-content;
}

/* New Post Styles */
#newPostForm {
    width: 30%;
}

#newPostForm > fieldset {
    /* width: 40%; */
    border: none;
}

.postFormRow {
    justify-content: space-between;
}

.postFormRow > textarea, .postFormRow > input {
    width: 85%;
}

#post_content{
    height: 80px;
}

#postBttnRow {
    justify-content: right;
    /* justify-content: space-around; */
}

#postBttnRow {
    margin-right: 3%;
}

#postBttnRow button {
    border: none;
    color: white;
    margin-left: 2%;
}

.tagOptions {
    flex-direction: column;
}

/* Post Display Styles */
#viewPostMainDiv {
    width: 40%;
}
#viewPostMainDiv div {
    padding-bottom: 1px;
}

#postAuthor {
    font-style: italic;
    margin: 0 auto;
}

#viewPostForm {
    flex-direction: row;    
}

#viewPostForm button {
    margin: 0 2%;
}

#postTagList {
    flex-direction: row;
    margin: 2px auto;
    /* justify-content: space-between; */
}

#postTagList p {
    font-weight: bold;
}

.tagHolderDiv {
    margin: auto;
    width: auto;
    background-color: blue;
    margin-left: 3px;
    border-radius: 20%;
}

.tags {
    /* background-color: blue; */
    color: white;
    border: none;
    font-weight: bold;
    font-style: italic;
    font-size: 0.8em;
    height: max-content;
    /* width: 16px; */
    margin: auto 2px;
    /* margin-left: 4px; */
}

.tags > a {
    color: white;
    text-decoration: none;
}

/* Edit Post Styles */
#editPostForm {
    width: 40%;
}

#editPostForm > fieldset {
    border: none;
}

#editPostBttnRow {
    justify-content: right;
}

#editPostBttnRow button {
    margin-right: 2%;
}

/* Create Tag Styles */
#createTagForm {
    width: 20%;
}

#createTagInputRow {
    justify-content: space-between;
}

#createTagInputRow > input {
    width: 80%
}

#createTagBttns {
    justify-content: right;
}

#createTagBttns button {
    margin-right: 2%;
}

/* Edit Tag Styles */
#editTagForm {
    width: 20%;
}
#editTagInputRow {
    justify-content: space-between;
}

#editTagBttns {
    justify-content: right;
}

#editTagForm input {
    width: 80%;
}

#editTagBttns button {
    margin-right: 2%;
}