/* General Styles */

.flex {
    display: flex;
    flex-direction: row;
}

button {
    border-radius: 20%;
    height: 2em;
}

/* Users List Styles */

#addUserBttn {
    background-color: rgb(100, 100, 100);
    color: white;
}

/* Add User Form Styles */

form[class='flex'] {
    flex-direction: column
}

#submitNewUserBttn {
    width: fit-content;
    background-color: rgb(100, 100, 100);
    color: white;
}

/* User Details Styles */

#nameAndBttns {
    flex-direction: column;
}

#editDeleteBttns {
    justify-content: space-evenly;
    flex-direction: row;
}

#userImg {
    width: 125px;
    height: 125px;
}

#editDeleteBttns > button {
    color: white;
    height: 2em;
    border: none;
}

#editUser {
    background-color: blue;
}

#deleteUser {
    background-color: red;
}

/* Edit User Styles */
#editDeleteForm {
    width:fit-content;
}

#saveCancelEdits {
    justify-content: right;
}

#cancelEditsBttn {
    border: 4px cornflowerblue;
    background-color: white;
    color: cornflowerblue;
}

#saveEditsBttn {
    background-color: green;
    color: white;
}