{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
<h1>Edit User</h1>
<form class="flex" id="editDeleteForm" method="post" action="/users/{{id}}/edit">
    <div>
        <label for="lastName">First Name</label><br>
        <input type="text" name="firstName" id="firstName" placeholder="Enter a first name">
    </div>
    <div>
        <label for="lastName">Last Name</label><br>
        <input type="text" name="lastName" id="lastName" placeholder="Enter a last name">
    </div>
    <div>
        <label for="imgURL">Image URL</label><br>
        <input type="text" name="imgURL" id="imgURL" placeholder="Provide an image of this user">
    </div><br>
    <div id="saveCancelEdits" class="flex">
        <a href="/users">
            <button id="cancelEditsBttn">Cancel</button>&nbsp;
        </a>
        <a href="/users"></a>
        <button id="saveEditsBttn" type="submit">Save</button>
        
    </div>
</form>
{% endblock %}