{% extends 'base.html' %}

{% block title %}{{user.full_name}}{% endblock %}

{% block content %}
<div class="flex mainDiv">
    
    <div id="userImg">
        {% if "http" in user.img_url %}
        <img id="user_img" src='{{user.img_url}}' alt="">
        {% else %}
        <img id="user_img" src='../{{user.img_url}}' alt="">
        {% endif %}
    </div>

    <div class="flex" id="nameAndBttns">
        <h1>{{user.full_name}}</h1>
        <form class="flex" id="editDeleteBttns">
            <button class="blueBttn"
                formaction="/users/{{user.user_id}}/edit"
                formmethod="GET">
                Edit</button>
            <button class="redBttn"
                formaction="/users/{{user.user_id}}/delete"
                formmethod="POST">
                Delete
            </button>
        </form>
        <div class="flex" id="postsDiv">
            <h2>Posts</h2>
            <ul>
                {% for post in user.posts %}
                <li><a href="/posts/{{post.post_id}}">{{post.title}}</a></li>
                {% endfor %}
            </ul>
            <form>
                <button class="blueBttn"
                    formaction="/users/{{user.user_id}}/posts/new"
                    formmethod="GET">
                    Add Post
                </button>
            </form>
        </div>
    </div>

</div>
{% endblock %}

